@import '../../scss/setting.scss';

.topbar__container {
    height: 50px;
    width: 100%;
    background-color: $background-color;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar__left {
    flex: 3;
}

.topbar__left-logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
}

.topbar__center {
    flex: 5;
    &__searchIcon {
        font-size: 20px !important;
        margin-left: 10px;
    }

    &__searchInput {
        border: none;
        width: 70%;
    }

    &__searchInput:focus {
        outline: none;
    }
}

.topbar__right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #444;
}

.topbar__right-link {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}




