@import '../../scss/setting.scss';

.topbar__container {
    height: 50px;
    width: 100%;
    background-color: $background-color;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar__left {
    flex: 3;
}

.topbar__left-logo {
    font-size: 20x;
    margin-left: 20px;
    font-weight: 500px;
    color: $main-color;
    cursor: pointer;
    font-family: Times New Roman, Times, serif;
}

.topbar__logo {
    font-size: 12px;
    color: $main-color;
    cursor: pointer;
}


.topbar__center {
    flex: 5;
    &__searchIcon {
        font-size: 20px !important;
        margin-left: 10px;
    }
}

.topbar__center-searchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.topbar__center-searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.topbar__center-searchInput {
    border: none;
    width: 70%;
  }

.topbar__center-seachInput:focus {
    outline: none;
}

.topbar__right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $main-color;
}

.topbar__right-link {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbar__right-setting {
    display: flex;
    align-items: center;
}

.topbar__setting {
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.topbar__icons {
    display: flex;
}

.topbar__icons-item {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbar__icon-badge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbar__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topbar__icons-itemOut {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    topbar__right-link {
        display: none;
    }
}



