.rightBar {
    flex: 3.5;
}

.rightBar__wrapper {
    padding: 20px 20px 0 0;
}

.birthday__container {
    display: flex;
    align-items: center;
}

.birthday__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthday__text {
    font-weight: 300;
    font-size: 15px;
}

.rightBar__add {
    
}