.rightBar {
    flex: 3.5;
}

.rightBar__wrapper {
    padding: 20px 20px 0 0;
}

.birthday__container {
    display: flex;
    align-items: center;
}

.birthday__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthday__text {
    font-weight: 300;
    font-size: 15px;
}

.rightBar__add {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightBar__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightBar__friendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightBar__info {
    margin-bottom: 30px;
}

.rightBar__infoItem{
    margin-bottom: 10px;
}

.rightBar__infoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightBar__infoValue {
    font-weight: 300;
}

.rightBar__followings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightBar__following {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightBar__followingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightBar__FollowButton {
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
}