.profile {
    display: flex;
}

.profile__right {
    flex: 9;
}

.profile__right-cover {
    height: 320px;
    position: relative;
}

.profile__cover-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__info-name{
    font-size: 24px;
}
}