.rightBarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightBarProfile__Container {
    margin-right: 10px;
    position: relative;
}

.rightBarProfile__Img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightBar__online {
    
}